{{ define "main" }}
<div id="content" class="content-item">
  <h2 class="item-title title-no-feature">{{ .Title }}</h2>

  <ul class="item-list">
    {{ range .Paginator.Pages }}
    <a href="{{.Permalink}}">
      <li>
        <h3>{{.Title}}</h3>
        <p>{{ or .Params.Description .Summary}}</p>
        <span>Dibuat pada {{ dateFormat "2 Jan, 2006" .Date }}</span>
      </li>
    </a>

    {{ end }}
  </ul>
</div>
<!-- paginator nav  -->
{{ template "_internal/pagination.html" . }} {{ end }}
